auth.json
auth.json.bak
output/

# binaries
b00p
b00p_*
*.exe
b00p.linux

# coverage
cov
cov.out
coverage.out
coverage.html
.pages/

# crash-safe download orphans (overwritten by next run; never committed)
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
